<div class="card contact">
    <div class="card-body">
        <h2>@Node.UserDto.Name</h2>
        <img width="150" src="@Node.UserDto.Image" />
    </div>
    <div style="width: 100%; display: grid; place-items: center;">
        @foreach (var port in Node.Ports)
        {
            <PortRenderer Port="port" />
        }
    </div>
</div>

@code{
    [Parameter]
    public ContactNode Node { get; set; }
}
