@page
@model BlazorMLSA.Server.Pages.LoginModel
@using BlazorMLSA.Server.EFCore
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
}


<h3>Choose a social log-in:</h3>
@{
    var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    <form asp-route-returnurl="@Model.returnUrl" method="post" class="form-horizontal">
        <div>
                @foreach (var provider in providers)
                {

                    <button type="submit" style="margin-left: 6px; font-size: 18px; font-weight: bolder;" value="@provider.Name" name="provider">@provider.Name</button>
                }
        </div>
    </form>
}


