@page
@model BlazorMLSA.Server.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div style="display: flex;">
    <img height="400" src="@Model.Base64" />
    <form class="FAForm" method="post">
        <h3>Enable 2 Factor-Authentication by scanning the code with Google Authenticator</h3>
        <label>The code from the authenticator APP:</label>
        <input asp-for="@Model.AuthenticatorCode" />
        <button type="submit">Enable 2FA</button>
    </form>
</div>
