@page
@model BlazorMLSA.Server.Pages.TwoFactorLoginModel
@attribute [AllowAnonymous]
@{
}

<form method="post">
    <label>The code from the Authenticator app:</label>
    <input asp-for="@Model.authenticatorCode"/>
    <button>Login</button>
</form>