<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/app.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <nav>
             <h1>Let's Chat!</h1>
        </nav>
        <div class="main">
            <div class="card">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
