html, body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    color: white;
}
.card-body {
    height: 340px;
    width: 230px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.18 );
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.card-body h2{
    font-size: 24px;
    margin-bottom: 6px;
    margin-top: 8px;
}
.card-body h4{
    margin: 6px 0px 6px 0;
}
path{
    stroke-width: 3;
}
.messagesContainer {
    width: 90%;
    height: auto;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.port.bottom {
    height: 15px;
    width: 30px;
    background-color: white;
    position: relative;
    display: grid;
    justify-content: center;
    border-radius: 50%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
    .port.bottom:hover {
        cursor: pointer;
        border: 2px solid;
    }
.contact .port.bottom {
    height: 20px;
    width: 20px;
    background-color: white;
    position: relative;
    top: -3px;
    display: grid;
    justify-content: center;
}
    .contact .port.bottom:hover {
        cursor: pointer;
    }