<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/app.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="page">
        <nav>
            <a class="Title" href="/">
                <h1>Let's Chat!</h1>
            </a>
        </nav>
        <div class="identityMain">
            <div class="identityCard">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
